<div class='edit' data-toggle="modal" data-target="#card<%= card.id %>"><img src="/assets/edit.png" class="edit" /></div>
<%= card.escape('title') %>


<!-- Modal -->
<div class="modal fade" id="card<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-form" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class='delete delete-card' card-id="<%= card.id %>" data-dismiss="modal">
		 <img src="/assets/delete.png" class="delete"/>
		</div>
        <h4 class="modal-title" id="myModalLabel"><%= card.escape('title') %></h4>
      </div>
      <div class="modal-body">
				<form class="edit-card">
					<div class="form-group">
						<label for="card_title">
						<input type="text" 
									 name="card[title]" 
									 id="card_title" 
									 value="<%= card.escape('title')%>"
									 class="form-control">
					</div>
					<div class="form-group">
						<label for="card_description">
                        <textarea name="card[description]" 
								  id="card_description" 
                                  placeholder="Description"
								  class="form-control"><%= card.escape('description')%></textarea>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-form" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-card" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

